In [1]:
import pandas as pd 
import numpy as np

In [2]:
lst1 = ['00.png', '01.png', '02.png', '03.png', '04.png', '05.png', '06.png', '07.png', '08.png', '09.png', '10.png']
lst2 = ['Abiline, TX', 'Abiline, TX', 'Abiline, TX', 'Austin, TX', 'Austin, TX', 'Austin, TX', 'Baltimore, MD', 'Baltimore, MD', 'Baltimore, MD', 'Boston, MA', 'Boston, MA']
lst3 = ['Summer', 'Spring', 'Summer', 'Winter', 'Spring', 'Summer', 'Winter', 'Spring', 'Summer', 'Winter', 'Spring']

In [4]:
df = pd.DataFrame(list(zip(lst1, lst2, lst3)), 
               columns =['file_name', 'location', 'season']) 
df

   file_name       location  season
0     00.png    Abiline, TX  Summer
1     01.png    Abiline, TX  Spring
2     02.png    Abiline, TX  Summer
3     03.png     Austin, TX  Winter
4     04.png     Austin, TX  Spring
5     05.png     Austin, TX  Summer
6     06.png  Baltimore, MD  Winter
7     07.png  Baltimore, MD  Spring
8     08.png  Baltimore, MD  Summer
9     09.png     Boston, MA  Winter
10    10.png     Boston, MA  Spring

In [5]:
export_csv = df.to_csv (r'./residential_mix.csv', index = None, header=True)